body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', helvetica, arial, Verdana, sans-serif;
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                50% 50% 
                no-repeat;
}

#modelCenter{
  background: white;
  border:1px solid lightgrey;
  padding:10px;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

input.extensionActionButton, input.revisionActionButton {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: 1px solid #aaaaaa;
  line-height: 1.5;
  display: block;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', helvetica, arial, Verdana, sans-serif;
}

input.extensionDownloadButton, input.extensionInstallButton {
  background-color: #2277aa;
}

input.extensionDownloadButton:hover, input.extensionInstallButton:hover {
  background-color: #00aaaa;
}

input.extensionCancelScheduledForUninstallButton {
  background-color: #a11900;
}

input.extensionCancelScheduledForUninstallButton:hover {
  background-color: #d06f5e;
}

input.extensionScheduleUninstallButton {
  background-color: #007f09;
}

input.extensionScheduleUninstallButton:hover {
  background-color: #6eb04b;
}

input.extensionUninstallButton {
  background-color: #007f09;
}

input.extensionUninstallButton:hover {
  background-color: #6eb04b;
}
